:root {
  --nav-background: #ffa8ba;
  --nav-btn-background: #faae2b;
  --nav-btn-color: #00473e;
  --nav-btn-hover: #fa5246;
  --content-background: #f2f7f5;
  --main-header-color: #00473e;
  --card-background: #fffffe;
  --card-header-color: #00473e;
  --card-description-color: #475d5b;
  --card-extra-color: #fa5246;
  --card-border-color: #00332c;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  font-size: 12px;
}

body {
  min-height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--nav-background);
  padding-top: 0.5rem;
  box-shadow: 2px 4px 10px var(--nav-background);
}

nav {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

nav button {
  background-color: var(--nav-btn-background);
  color: var(--nav-btn-color);
  padding: 1.5rem 3rem;
  border: 1px solid var(--nav-btn-background);
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

nav button:hover {
  background-color: var(--nav-btn-hover);
  border: 1px solid var(--nav-btn-hover);
}

.active,
.active:hover {
  background-color: var(--content-background);
  border: 1px solid var(--content-background);
  box-shadow: 2px 4px 10px var(--content-background);
}

#content {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  background-color: var(--content-background);
  flex: 1;
}

.main-header {
  align-self: center;
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-size: 4rem;
  color: var(--main-header-color);
}

.sushi-hero {
  align-self: center;
  max-width: 100%;
  height: auto;
}

.cards {
  margin: 4rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  width: 300px;
  padding: 1rem 2.5rem;
  text-align: center;
  border: 1px dotted var(--card-border-color);
  border-radius: 8px;
  background-color: var(--card-background);
}

.card h3 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-size: 2.5rem;
  color: var(--card-header-color);
}

.card p {
  font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
  font-size: 1.5rem;
  color: var(--card-description-color);
}

.card h4 {
  font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
  font-size: 2rem;
  color: var(--card-extra-color);
}
